<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">KHAALIQ DeJAN</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="index.html">Welcome</a></li>
				<li><a href="index.html#works">Projects</a></li>
				<li class="active"><a href="about.html">Connect</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>

<div id="aboutwrap">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-6 col-lg-offset-3">
  		</div>
  	</div><! --/row -->
  </div> <!-- /container -->
</div><! --/aboutwrap -->

<div class="container">
  <div class="row centered mt mb">
  	<div class="col-lg-8 col-lg-offset-2">
  		<h2>KHAALIQ DeJAN</h2>
      <div class="about-page-content">
        <h4>WHAT I DO.</h4>
  			<p>At my core, I am a problem solver. I use web development as a tool to
          solve a wide range of problems. My skill set includes full stack Ruby
          on Rails development, as well as front-end development with JavaScript,
          HTML and CSS. I have completed a variety of projects including a brunch
          locator app and lite versions of Active Record and Rails.</p>
      </div>
      <div class="about-page-content">
        <h4>WHAT DRIVES ME.</h4>
  			<p>I am dedicated to making a difference and am inspired towards leaving
           the world a better place than I found it. I have a strong sense of duty
          to the community around me and am passionate about bringing programming
          to the underrepsresented communities around me and working to bridge
          the digital divide.</p>
      </div>
  	</div>
		<div class="centered">
			<a target="_blank" class="btn btn-large btn-success" href="<%= asset_path('KDResume.pdf') %>">Curriculum Vitae - Khaaliq DeJan</a>

		</div>

  </div><! --/row -->
</div><! --/container -->

<div id="social">
  <div class="container">
  	<div class="row centered">
      <div class="col-lg-3">
  			<a href="https://www.github.com/MisterDeejay"><i class="fa fa-github"></i></a>
  		</div>
  		<div class="col-lg-3">
  			<a href="https://www.linkinin.com/in/khaaliqdejan"><i class="fa fa-linkedin"></i></a>
  		</div>
  		<div class="col-lg-3">
  			<a href="https://www.tumblr.com/blog/khaaliqdejan"><i class="fa fa-tumblr"></i></a>
  		</div>
      <div class="col-lg-3">
  			<a href="https://twitter.com/youngdeej"><i class="fa fa-twitter"></i></a>
  		</div>

  	</div><! --/row -->
  </div><! --/container -->
</div><! --/social -->

<div id="footerwrap">
  <div class="container">
  	<div class="row centered">
      <div class="col-lg-12">
  			<p><b>WEB DEVELOPER & SOCIAL CHANGE ADVOCATE</b></p>
  		</div>

  		<div class="col-lg-12">
  			<p>Located in sunny California.</p>
  		</div>

  		<div class="col-lg-12">
  			<p>khaaliqdejan@gmail.com</p>
  		</div>
  	</div>
  </div>
</div><! --/footerwrap -->
