<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">KHAALIQ DeJAN</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="index.html">Welcome</a></li>
        <li><a href="#works">Projects</a></li>
        <li><a href="about.html">Connect</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<form class="twitter-keyword" action="index.html" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="keywords" placedholder="Enter Keywords (e.g. SendGrid)">

  <button type="button" name="query">Query</button>
</form>
